@import "@/assets/scss/absctracts/variables";
@import "@/assets/scss/absctracts/mixins";
@import "@/assets/scss/absctracts/animation";

.btn {
  color: $mainFontColor;
  background-color: $hoverFontColor;
  transition: $defaultTransition;
  border: $mainFontColor solid 1px;

  border-radius: 10vw;
  font-size: 1rem;
  text-align: right;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;

  &:hover{
    background: $mainFontColor;
    color: $hoverFontColor;
  }
}