@import "@/assets/scss/absctracts/variables";
@import "@/assets/scss/absctracts/mixins";
@import "@/assets/scss/absctracts/animation";

.input {
  color: $mainFontColor;
  border: $mainFontColor solid 1px;
  transition: $defaultTransition;

  width: 100%;
  height: 2rem;
  padding: 0 0.7rem;
  outline-style: none;
  text-align: center;
  align-self: center;
  border-radius: 0.7vw;

  &:focus{
    background-color: $mainBackground-color;
    color: $focusFontColor;
  }
}