@import "@/assets/scss/absctracts/variables";
@import "@/assets/scss/absctracts/mixins";
@import "@/assets/scss/absctracts/animation";

.container {
  @include flexCenter($flexDirection: column);
  @include fullAbsoluteBox($isHeight: true);

  div {
    width: 40%;
    text-align: center;
    transition: $defaultTransition;

    @media (max-width: $lapTop) {
      width: 60%;
    }

    @media (max-width: $mobile){
      width: 80%;
    }
  }
  h1{
    margin-bottom: 5vh;
  }
}

.menu {
  margin-top: 1vh;
}

.verityCode {
  margin-top: 2vh;
}
.v-enter-active,
.v-leave-active {
  transition: opacity 0.35s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}