$mainBackground-color: rgba(245, 245, 245, 1);
$boxShadow-color: rgba(230, 230, 230, 0.5);

$previewBorderColor: rgba(230, 230, 230, 1);


$mainFontColor: gray;
$focusFontColor: black;
$errorFontColor: red;
$hoverFontColor: white;
$linkFontColor: blue;
$likeFontColor: red;

$fullBorderRadius: 100vw;
$btnHoverBackground: gray;
$btnHoverColor: white;

$FontSize-XS: 0.8rem;
$FontSize-S: 0.85rem;
$FontSize-M: 0.9rem;
$FontSize-L: 0.95rem;
$FontSize-XL: 1rem;
$FontSize-XXL: 1.1rem;

$FontWeight-S: 400;
$FontWeight-M: 500;
$FontWeight-L: 600;
$FontWeight-XL: 700;

$lineHeight-S: 1.3rem;
$lineHeight-M: 1.5rem;



$mobile: 800px;
$lapTop: 1000px;
